<!-- Modal untuk Konfirmasi Delete -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="display: flex; align-items: center; justify-content: center; min-height: 100vh;">
        <div class="modal-content" style="flex-basis: 80%;">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Do you want to delete this item?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger btn-confirm-yes">Yes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal untuk Notifikasi Berhasil -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="display: flex; align-items: center; justify-content: center; min-height: 100vh;">
        <div class="modal-content" style="flex-basis: 70%;">
            <div class="modal-body text-center">
                <i class="fas fa-check-circle" style="font-size: 48px; color: green;"></i>
                <p>Delete Successfully</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="successSave" tabindex="-1" aria-labelledby="successSaveLabel" aria-hidden="true">
    <div class="modal-dialog" style="display: flex; align-items: center; justify-content: center; min-height: 100vh;">
        <div class="modal-content" style="flex-basis: 70%;">
            <div class="modal-body text-center">
                <i class="fas fa-check-circle" style="font-size: 48px; color: green;"></i>
                <p>Successfully Saved!</p>
            </div>
        </div>
    </div>
</div>